.UpdatePassword {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    flex-direction: column; /* Aligner les éléments en colonne */
    padding: 20px; /* Espacement interne */
    background-color: #f4efeb; /* Couleur de fond douce */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    max-width: 600px; /* Largeur maximale du formulaire */
    margin: 20px auto; /* Centrer horizontalement avec une marge */

    h2 {
        font-size: 1.8rem; /* Taille du titre */
        color: #2c3e50; /* Couleur du texte */
        margin-bottom: 20px; /* Espace en dessous du titre */
    }
    img{
        width: 50px;
        height: 50px;
        
    }
    label {
        font-size: 14px; /* Taille de la police pour le label */
        color: #333; /* Couleur du texte du label */
        margin-bottom: 5px; /* Espace en dessous du label */
        display: block; /* Afficher le label comme un bloc pour prendre toute la largeur */
    }

    input[type="password"] {
        width: 100%; /* Prendre toute la largeur disponible */
        padding: 10px; /* Espacement interne */
        margin-bottom: 15px; /* Espacement en dessous des champs */
        border: 1px solid #ccc; /* Bordure grise claire */
        border-radius: 5px; /* Coins arrondis pour les champs de saisie */
        font-size: 16px; /* Taille de la police */

        &::placeholder {
            color: #aaa; /* Couleur du texte du placeholder */
        }
    }

    button {
        padding: 10px 15px; /* Espacement interne des boutons */
        margin-top: 10px; /* Marge au-dessus des boutons */
        border-radius: 5px; /* Coins arrondis pour les boutons */
        background-color: #5b3059; /* Couleur de fond des boutons */
        color: white; /* Couleur du texte des boutons */
        border: none; /* Pas de bordure */
        cursor: pointer; /* Curseur en forme de main au survol */
        font-size: 16px; /* Taille de la police des boutons */
        margin-right: 10px;
        &:hover {
            background-color: #baa1b7bb; /* Couleur au survol des boutons */
        }

        &[type="button"] {
            background-color: #ccc; /* Couleur différente pour le bouton Annuler */

            &:hover {
                background-color: #bbb; /* Couleur au survol pour le bouton Annuler */
            }
        }
    }

    p {
        margin-top: 10px; /* Marge au-dessus des messages d'erreur ou de succès */
        
        &.error {
            color: red; /* Couleur rouge pour les messages d'erreur */
        }

        &.success {
            color: green; /* Couleur verte pour les messages de succès */
        }
    }
}